@import "./variables";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    background-color: $backround-clr;
    font-family: 'Poppins',sans-serif;
    color: $tertiary-clr
    
}

body {
    margin: 0 auto;
    width: 85%;
}