.cardContainer {
    height: 25rem;
    width: 13rem;
    margin-top: 2rem;
    cursor: pointer;
}
.imgContainer {
    width: 12rem;
    height: 13rem;
}

.genreContainer {
    display: inline-flex;
    gap: 8px;
    flex-wrap: wrap;
    margin: 8px 0;
}
